@charset "UTF-8";

/* ===================================================
profile
====================================================*/
.profile__cards{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  li{
    .profile__front{
      img{
        border-radius: 10px;
      }
    }
  }
  .profile__hdg{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
  }
}
