@charset "UTF-8";

/* ===================================================
header
====================================================*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em ;
  flex-wrap: wrap;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9998;
  h1 a{
    font-size: 24px;
    color: #222222;
  }
  a{
    font-size: 20px;
  }
  nav{
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
}
@media screen and (max-width: 767.98px){
  .header{
    justify-content: center;
    h1 a{
      font-size: 20px;
    }
    a{
      font-size: 16px;
    }
  }
}