@use "../../foundation/breakpoints" as *;
@use "../../foundation/mixins" as *;
@use "../../foundation/variables" as *;
/* ===================================================
folder-icons
====================================================*/
.folder-icons{
  @include fl(center,center);
  gap: 50px;
  a{
    cursor: none;
  }
  .icon-item{
    @include fl(center,center);
    flex-direction: column;
    img{
      width: 300px;
    }
  }
}