@use "../foundation/breakpoints" as *;
@use "../foundation/mixins" as *;
@use "../foundation/variables" as *;
 //mainタグ・sectionタグのスタイル
.portfolio{
    min-height: 100vh;
    // width: 100vw;
    margin: 0;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    background-color: #f1ebd9; 
    background-image: 
      linear-gradient(#e5dac1 2px, transparent 2px),
      linear-gradient(90deg, #e5dac1 2px, transparent 2px);
    background-size: 40px 40px;
    background-repeat: repeat;
    image-rendering: pixelated;

}